<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">Wehrausschuss</div>
					<div class="card-block">
						<ul>
							{{#each model.commiteeMembers as |membersTypelist|}}
								{{#each membersTypelist as |item|}}
									<li>
										{{t item.type}} - <strong>{{item.member.firstName}} {{item.member.lastName}}</strong>
									</li>
								{{/each}}
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container text-center">
		<p>
			<strong>AGT</strong> - {{t 'agt'}}
		</p>
		<p>
			<strong>MA</strong> - {{t 'ma'}}
		</p>
		<p>
			<strong>KSF</strong> - {{t 'ksf'}}
		</p>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">Mitglieder</div>
					<div class="list-group">
						
						{{!--
							"operationTasks": [
                { 
                    "name": "agt", 
                    "active": true
                },
                { 
                    "name": "ma", 
                    "active": true
                },
                { 
                    "name": "agt",
                    "active": true
                }
            ]
						--}}

						{{#each model.operationMembers as |member|}}
							<div class="list-group-item justify-content-between">
								<strong>{{member.firstName}} {{member.lastName}}</strong>
								<div>
									{{#each member.operationTasks as |topic|}}
										<span class="badge badge-{{if topic.active 'default' 'warning'}} badge-pill text-uppercase">
											{{topic.name}}{{#if topic.active}}{{else}} ( <small>{{t 'currentlyNotApplicable'}}</small> ){{/if}}
										</span>
									{{/each}}
								</div>
							</div>
						{{/each}}

						<div class="list-group-item justify-content-between">
					    Baumgarten Steffen - Gruppenführer
							<div>
						    <span class="badge badge-default badge-pill">AGT</span>
								<span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
					    Cleem	Marcel - Gruppenführer
							<div>
								<span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
					    Farwick	Dirk
					  </div>
						<div class="list-group-item justify-content-between">
					    Baumgarten Steffen - Gruppenführer
							<div>
						    <span class="badge badge-default badge-pill">AGT</span>
								<span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Friebel	Aileen - Truppmann
					  </div>
						<div class="list-group-item justify-content-between">
							Friebel	Hendrik - Zugführer
							<div>
						    <span class="badge badge-default badge-pill">AGT</span>
								<span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Grzona	Michael - Truppführer
					  </div>
						<div class="list-group-item justify-content-between">
							Heinemann	Till
					  </div>
						<div class="list-group-item justify-content-between">
							Heinz	Henry
					  </div>
						<div class="list-group-item justify-content-between">
							Hennrich Martin - Truppführer
							<div>
						    <span class="badge badge-warning badge-pill">AGT (derzeit nicht einsetzbar)</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Holbein	Marcus - Truppführer
							<div>
						    <span class="badge badge-default badge-pill">AGT</span>
								<span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Jentsch	Nico - Truppmann
							<div>
						    <span class="badge badge-default badge-pill">AGT</span>
								<span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Kewitz Ralf - Truppführer
							<div>
								<span class="badge badge-default badge-pill">MA</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Kieper Marco
					  </div>
						<div class="list-group-item justify-content-between">
							Krech Michael - Truppführer
							<div>
						    <span class="badge badge-warning badge-pill">AGT (derzeit nicht einsetzbar)</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Lorenz Silvio - Truppführer
							<div>
						    <span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Milde	Lars - Truppmann
					  </div>
						<div class="list-group-item justify-content-between">
							Pöppich	Susann - Gruppenführer
							<div>
						    <span class="badge badge-default badge-pill">AGT</span>
								<span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Schwabe Ines
					  </div>
						<div class="list-group-item justify-content-between">
							Schwabe	Kristina - Truppmann
					  </div>
						<div class="list-group-item justify-content-between">
							Schwabe	Peter - Truppführer
							<div>
						    <span class="badge badge-default badge-pill">MA</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Thiem	Anabell
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section></section>

{{outlet}}
