<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">Wehrausschuss</div>
					<div class="card-block">
						<ul>
							{{#each model.commiteeMembers as |operationalTypesList|}}
								{{#each operationalTypesList as |item|}}
									<li>
										<strong>{{item.member.firstName}} {{item.member.lastName}}</strong> - {{t item.job}}
									</li>
								{{/each}}
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container text-center">
		<p>
			<strong>AGT</strong> - {{t 'agt'}}
		</p>
		<p>
			<strong>MA</strong> - {{t 'ma'}}
		</p>
		<p>
			<strong>KSF</strong> - {{t 'ksf'}}
		</p>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">Mitglieder ({{model.operationalMembersCount}})</div>
					<div class="list-group">

						{{#each model.operationalMembers as |member|}}
							<div class="list-group-item justify-content-between">
								<p>
									<strong>{{member.firstName}} {{member.lastName}}</strong>
									{{#each member.operationsDepartment.member as |item|}}
										- {{t item.job}}
									{{/each}}
								</p>
								<div>
									{{#each member.operationsDepartment.operationalTasks as |topic|}}
										<span class="badge badge-{{if topic.active 'default' 'warning'}} badge-pill text-uppercase" title="{{t topic.name}}">
											{{topic.name}}{{#if topic.active}}{{else}} ( <small>{{t 'currentlyNotApplicable'}}</small> ){{/if}}
										</span>
									{{/each}}
								</div>
							</div>
						{{/each}}
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section></section>

{{outlet}}
