<section> 
 
  {{#slick-slider autoplay=true arrows=false fade=true speed=500}} 
    <div class="box" style="background-image: url(/img/main-1.jpg);"> 
      <div class="container"> 
        <h2 class="headline">Sei dabei!</h2> 
        <p class="text">Mach mit im Förderverein der<br/>freiwilligen Feuerwehr Erfurt-Molsdorf.</p> 
      </div> 
    </div> 
    <div class="box" style="background-image: url(/img/main-2.jpg);"> 
      <div class="container"> 
        <h2 class="headline">Unsere Jugend</h2> 
        <p class="text">Lerne alles rund um die Feuerwehr.</p> 
      </div> 
    </div> 
    <div class="box" style="background-image: url(/img/main-3.jpg);"> 
      <div class="container"> 
        <h2 class="headline">Ehrenabteilung</h2> 
        <p class="text">Einen wehrtvoller Beitrag leisten.</p> 
      </div> 
    </div>
  {{/slick-slider}}
 
</section>
 
<section> 
  <div class="container"> 
    <h2>{{t 'navigation.timeline'}}</h2>
  </div> 
</section>

<section>
	<div class="container">
    <h3>Entstehung</h3>
    <p>Aufgrund großer Nachwuchssorgen und starkem Interesse der sechs- bis neunjährigen in Molsdorf hat die FF Erfurt-Molsdorf im September 2006 die Bambini-Feuerwehr Erfurt-Molsdorf ins Leben gerufen.
    Hier möchten wir den Kindern zwischen 6 und 9 Jahren die Feuerwehr näher bringen und interessante Veranstaltungen mit ihnen durchführen.</p>
    <p>Der Zuspruch der Kinder und Eltern ist sehr groß, sodass der Nachwuchs der Jugendfeuerwehr Erfurt-Molsdorf, und später auch der Einsatzabteilung, in naher Zukunft gesichert sein wird.</p>
    <p>Nachdem das Thüringer Brand- und Katastrophenschutzgesetz Ende 2006 geändert wurde, können die Freiweilligen Feuerwehren Kinder bereits ab dem 6. Lebensjahr in ihre Jugendabteilungen aufnehmen. Damit erhofft man sich eine noch bessere Nachwuchsförderung.</p>
	</div>
</section>

<section>
	<div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <h3>Wettkämpfe - Gruppenstafette</h3>
        <div class="list-group">
          {{#each model.challenges as |challenge|}}
            <div class="list-group-item justify-content-between">
              {{#if challenge.place}}
                <strong>
                  {{challenge.place}}{{t 'challenges.place'}}
                  {{#if challenge.team}}
                    ( {{challenge.team}}{{t 'challenges.team'}} )
                  {{/if}}
                </strong>
              {{else}}
                {{t 'challenges.noplace'}}
                {{#if challenge.team}}
                  ( {{challenge.team}}{{t 'challenges.team'}} )
                {{/if}}
              {{/if}}
              <span><strong>{{challenge.subject}}</strong> ({{challenge.city}}) - {{challenge.date}}</span>
            </div>
          {{/each}}
        </div>
        
      </div>
    </div>
	</div>
</section>

<section>
	<div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <h3>Fußballturnier</h3>
        <div class="list-group">
          {{#each model.football as |match|}}
            <div class="list-group-item justify-content-between">
              {{#if match.place}}
                <strong>{{match.place}}{{t 'challenges.place'}}</strong>
              {{else}}
                {{t 'challenges.noplace'}}
              {{/if}}
              <span>{{match.ageclass}}</span>
              <span>{{match.date}}</span>
            </div>
          {{/each}}
        </div>
        
      </div>
    </div>
	</div>
</section>

<section></section>

{{outlet}}