<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

	{{#link-to "index" class="navbar-brand"}}
		{{fa-icon "fire-extinguisher"}}
		<div class="navbar-brand">
			<span>{{t "application.brand.long"}}</span>
		</div>
	{{/link-to}}

  <div class="collapse navbar-collapse flex-row-reverse" id="navbarCollapse">
		<div class="nav navbar-nav">
			{{#each model.navigation as |item|}}
				{{#link-to item.link class="nav-item nav-link"}}
					{{fa-icon item.ico}}
					{{t item.localization}}
				{{/link-to}}
			{{/each}}
		</div>
  </div>
	
</nav>

<div class="emergency">
	<span class="call">
		{{fa-icon "phone"}}
		{{t "emergency.call"}}
	</span>
</div>

<div class="application-content">
	{{outlet}}
</div>

<footer class="footer">
	<div class="content">
		<div class="container text-center">

			<div>
				{{#each model.navigation as |item|}}
					{{#link-to item.link class="btn btn-link"}}
						{{fa-icon item.ico}}
						<span class="hidden-xs-down">{{t item.localization}}</span>
					{{/link-to}}
				{{/each}}
			</div>

			<div class="text-together">
				{{t "application.together"}}
			</div>

		</div>
	</div>
	<div class="copyright">
		<div class="container text-center">
			{{t "footer.copyright" copyrightTo=model.copyrightTo brand=(t 'application.brand.long')}}
		</div>
	</div>
</footer>
