<header class="header">

	<nav class="navbar navbar-toggleable-md navbar-inverse">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

			{{#link-to "index" class="navbar-brand"}}
				<small class="hidden-xs-down">{{fa-icon "fire-extinguisher"}}</small>
				<small class="hidden-xs-up">
					{{t "application.brand.short"}}
				</small>
				<div class="navbar-brand">
					<small class="hidden-xs-down">{{t "application.brand.long"}}</small>
				</div>
			{{/link-to}}

			<div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
		    <div class="navbar-nav">
					{{#each model.navigation as |item|}}
						{{#link-to item.link class="nav-item nav-link"}}
							{{fa-icon item.ico}}
							<span class="hidden-xs-down">{{t item.localization}}</span>
						{{/link-to}}
					{{/each}}
		    </div>
		  </div>
		</div>
	</nav>

	<div class="emergency">
		<span class="call">
			{{fa-icon "phone"}}
			{{t "emergency.call"}}
		</span>
	</div>

</header>

<div class="application-content">
	{{outlet}}
</div>

<footer class="footer">
	<div class="content">
		<div class="container text-center">

			<div>
				{{#each model.navigation as |item|}}
					{{#link-to item.link class="btn btn-link"}}
						{{fa-icon item.ico}}
						<span class="hidden-xs-down">{{t item.localization}}</span>
					{{/link-to}}
				{{/each}}
			</div>

			<div class="text-together">
				{{t "application.together"}}
			</div>

		</div>
	</div>
	<div class="copyright">
		<div class="container text-center">
			{{t "footer.copyright" copyrightTo=model.copyrightTo brand=(t 'application.brand.long')}}
		</div>
	</div>
</footer>
