<header class="header">

	<nav class="navbar navbar-toggleable-md navbar-inverse">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

			<a class="navbar-brand" href="/">
				{{fa-icon "fire-extinguisher"}}
				{{t "application.brand.short"}}
				<div class="navbar-text">
					<small class="hidden-xs-down">{{t "application.brand.description"}}</small>
				</div>
			</a>

			<div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
		    <div class="navbar-nav">
					{{#each model.navigation as |item|}}
	      		{{!--
						<a class="nav-item nav-link" {{action 'linkTo' item.link}}>
						--}}
						{{#link-to item.link class="nav-item nav-link"}}
							{{fa-icon item.ico class="hidden-lg-down"}}
							<span>{{t item.localization}}</span>
						{{/link-to}}
						{{!--
						</a>
						--}}
					{{/each}}
		    </div>
		  </div>
		</div>
	</nav>

	<div class="emergency">
		<span class="call">
			{{fa-icon "phone"}}
			{{t "emergency.call"}}
		</span>
	</div>

</header>

<div class="application-content">
	{{outlet}}
</div>

<footer class="footer">
	<div class="content">
		<div class="container text-center">
			...
		</div>
	</div>
	<div class="copyright">
		<div class="container text-center">
			{{t "footer.copyright" copyrightTo=model.copyrightTo brand=(t 'application.brand.description')}}
		</div>
	</div>
</footer>
