<section>

	{{#slick-slider autoplay=true arrows=false fade=true speed=500}}
		<div class="box" style="background-image: url(/img/main-1.jpg);">
			<div class="container">
				<h2 class="headline">Sei dabei!</h2>
				<p class="text">Mach mit im Förderverein der<br/>freiwilligen Feuerwehr Erfurt-Molsdorf.</p>
			</div>
		</div>
		<div class="box" style="background-image: url(/img/main-2.jpg);">
			<div class="container">
				<h2 class="headline">Unsere Jugend</h2>
				<p class="text">Lerne alles rund um die Feuerwehr.</p>
			</div>
		</div>
		<div class="box" style="background-image: url(/img/main-3.jpg);">
			<div class="container">
				<h2 class="headline">Ehrenabteilung</h2>
				<p class="text">Einen wehrtvoller Beitrag leisten.</p>
			</div>
		</div>
	{{/slick-slider}}

</section>

<section class="grey">
	<div class="container">
		<div class="row d-flex">
			<div class="col">
				<h2>Förderverein</h2>
				<p>Der Förderverein der Freiwilligen Feuerwehr Erfurt-Molsdorf e.V. wurde am 29. September 2001 gegründet.</p>
				{{#link-to "association" class="btn btn-secondary"}}
					{{t 'general.details'}}
				{{/link-to}}
			</div>
			<div class="col">
				<h2>Jugendfeuerwehr</h2>
				<p>Es ist uns ein Anliegen den Kindern und Jugendlichen schon frühzeitig alles rund um die Feuerwehr nah zu bringen. Darunter fällt unter anderem das richtige Verhalten bei einem Brand, wie setze ich einen Notruf ab oder wie gehe ich richtig mit dem Element Feuer um.</p>
				{{#link-to "youth" class="btn btn-secondary"}}
					{{t 'general.details'}}
				{{/link-to}}
			</div>
		</div>
		<div class="row d-flex">
			<div class="col">
				<h2>Einsatz</h2>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
				{{#link-to "education" class="btn btn-secondary"}}
					{{t 'general.details'}}
				{{/link-to}}
			</div>
			<div class="col">
				<h2>Ehrenabteilung</h2>
				<p>Die Alters- und Ehrenabteilung der FF EF-Molsdorf umfasst derzeit 8 Mitglieder. Im Rahmen ihrer Möglichkeiten leisten sie bei Öffentlichkeitsveranstaltungen wie dem Osterfeuer oder dem Weihnachtsmarkt, einen wertvollen Beitrag.</p>
				{{#link-to "honor" class="btn btn-secondary"}}
					{{t 'general.details'}}
				{{/link-to}}
			</div>
		</div>
	</div>
</section>

{{outlet}}
