<section>

	{{#slick-slider autoplay=true arrows=false fade=true speed=500}}
		<div class="box" style="background-image: url(/img/main-1.jpg);">
			<div class="container">
				<h2 class="headline">Sei dabei!</h2>
				<p class="text">Mach mit im Förderverein der<br/>freiwilligen Feuerwehr Erfurt-Molsdorf.</p>
			</div>
		</div>
		<div class="box" style="background-image: url(/img/main-2.jpg);">
			<div class="container">
				<h2 class="headline">Unsere Jugend</h2>
				<p class="text">Lerne alles rund um die Feuerwehr.</p>
			</div>
		</div>
		<div class="box" style="background-image: url(/img/main-3.jpg);">
			<div class="container">
				<h2 class="headline">Ehrenabteilung</h2>
				<p class="text">Einen wehrtvoller Beitrag leisten.</p>
			</div>
		</div>
		<div class="box" style="background-image: url(/img/main-4.jpg);">
			<div class="container">
				<h2 class="headline">Einsatzabteilung</h2>
				<p class="text">Gemeinsam für euch.</p>
			</div>
		</div>
	{{/slick-slider}}

</section>

<section>
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-6">
				<h3>Förderverein</h3>
				<p>Lust auf ein außergewöhnliches Hobby?<br/>Hier kann sich jeder einbringen, der Spaß daran hat, zu helfen.</p>
				{{#link-to "association" class="btn btn-secondary"}}
					{{t 'general.details'}}
				{{/link-to}}
			</div>
			<div class="col-md-6">
				<h3>Jugendfeuerwehr</h3>
				<p>Wie gehe ich mir Feuer um?<br/>Wie geht ein richtiger Notruf?<br/>Hier lernt Ihr alles rund um die Feuerwehr.</p>
				{{#link-to "youth" class="btn btn-secondary"}}
					{{t 'general.details'}}
				{{/link-to}}
			</div>
		</div>
		<div class="row d-flex">
			<div class="col-md-6">
				<h3>Einsatzabteilung</h3>
				<p>Wer hilf bei Feuer, Hochwasser und ist da in der Not?<br/>Die Kameraden der freiwilligen Feuerwehr.</p>
				{{#link-to "operation" class="btn btn-secondary"}}
					{{t 'general.details'}}
				{{/link-to}}
			</div>
			<div class="col-md-6">
				<h3>Ehrenabteilung</h3>
				<p>Eine Frage des Alters? Nein!<br/>Die Alters- und Ehrenabteilung leistet einen wichtigen Beitrag.</p>
				{{#link-to "honor" class="btn btn-secondary"}}
					{{t 'general.details'}}
				{{/link-to}}
			</div>
		</div>
	</div>
</section>

<section class="highlight events">
	<div class="container">
		<div class="row event">
			<div class="col-md-1">
				<p class="date">10</p>
				<p class="month">JUNI</p>
			</div>
			<div class="col-md-11">
				<h2>Kinderfest in Molsdorf</h2>
				<p>Buntes Kinderprogramm und eine Vorführung der Feuerwehr auf dem Sportplatz.</p>
			</div>
		</div>
	</div>
</section>

{{outlet}}
